@charset "utf-8";
/* CSS Document */
/*
#section1{
    
   
}
.bg-img li:nth-child(1){
	background:url(images/bg1.jpg) no-repeat center;
	background-size:cover;
	}
.bg-img li:nth-child(2){
	background:url(images/bg2.jpg) no-repeat center;
	background-size:cover;
	}
.bg-img li:nth-child(3){
	background:url(images/bg3.jpg) no-repeat center;
	background-size:cover;
	}
.bg-img li:nth-child(4){
	background:url(images/bg4.jpg) no-repeat center;
	background-size:cover;
	}
.bg-img{

}

.bg-img li{
   
}*/
/*图片轮播*/

/*封面*/
#section1{
	position:relative;
	}
.myIntro{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
		
	}
.name-1{
	font-family:cursive,'Lato', sans-serif;
	font-size:50px;	
	text-align:center;
	}
#section1 img{
	clear:both;
	width:100%;
	height:100%;
	}
@media screen and (max-width:500px){
	#section1 img{
		 
		top:0px;
		width:100%;
		height:600px;
		}
	.myIntro{
		width:300px;	
	}	
	.name-1{
		font-size:40px;		
		}
	.myIntro h3{
		font-size:20px;
		margin-bottom:30px;
		}	
	}

@media screen and (min-width:501px) and (max-width:1000px){	
	#photos img{
		width:100%;
		
		}
	.myIntro{
		width:600px;	
	}	
	.name-1{
		font-size:50px;		
		}
	.myIntro h3{
		font-size:30px;
		margin-bottom:30px;
		}	
	} 	
.name-2{
	font-size:30px;
	letter-spacing:3px;
	margin:10px 0;
	text-align:center;
	}
.name-3{		
	line-height:48px;
	font-size:16px;
	
	border-radius:5px;
	cursor:pointer;
	margin:5px auto;
	text-align:center;
	}
.about-me{
	display:inline-block;
	background-color:#2c3e50;
	color:#fff;
	width:150px;
	height:50px;
	border:1px solid #999;
	
	}
.myworks{
	display:inline-block;
	background-color:#FFF;
	color:#96a3b2;
	width:150px;
	height:50px;
	border:1px solid #999;
	margin:20px;
	}


#photos img{
	width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
    z-index: -1;	
	}

/*导航栏*/
#section2{position:fixed;
	width: 100%;
    height: 70px;
    background-color: #2c3e50;
    color: #f5f5f5;
	margin:0 auto;
	z-index:1;}
body,ul,li,a,img{margin:0px;padding:0px;}

a{text-decoration:none;font-size:14px;}
.paixu{float:right;}
.menu li{display:block;float:left;;color:White;font-size:20px;line-height:70px;}
.menu li a{margin:0px 20px;color:#FFF;}
#toplogo a img{width:150px;height:50px;}
#toplogo a{color:White;font-size:20px;position:absolute;line-height:70px;margin-left:100px;}
.rMenu{display:none;}
@media screen and (max-width:500px){
ul{width:100%;clear:both;height:100%;}
#toplogo{display:block;width:100%;height:70px;background-color:#2c3e50;color: #f5f5f5;margin:0 auto;border-bottom:2px solid #666;}
#toplogo a{margin-left:10px;}
.menu{width:100%;}
.menu li{width:100%;visibility:hidden;overflow:hidden;background-color: #2c3e50;text-align:center;display:block;line-height:50px;transition:all 0.5s;}
.menu li:nth-of-type(1){
	transition-delay:0.05s;
	}
.menu li:nth-of-type(2){
	transition-delay:0.05s;
	}
.menu li:nth-of-type(3){
	transition-delay:0.1s;
	}
.menu li:nth-of-type(4){
	transition-delay:0.15s;
	}
.menu li:nth-of-type(5){
	transition-delay:0.2s;
	}
.menu li:nth-of-type(6){
	transition-delay:0.25s;
	}
.rMenu{display:block;position:absolute;top:50%;left:70%;transform: translate(-50%, -50%);}
	}
/*自我介绍*/
.job-intension{
	margin:100px auto;
	width:100%;
	height:100%;
	}
.mybox2{
	overflow:hidden;
	}

.myself-top hr{
	height: 4px;
    width:100px;
    text-align:center;
    position: relative;
    background: #E87E04;
    margin: 0 auto 50px;
    border: 0;
    transition: all 0.5s 0.2s;
	}
.myself-top h1{
	text-align:center;
	font-size:30px;
	line-height:30px;
	color:#2c3e50;
	margin-top:100px;
	letter-spacing:2px;
	
	}
.myphoto{
	text-align:center;
	max-width: 200px;
    width: 30%;
    border-radius:50%;
	}
.information{
	text-indent:2em;
	max-width:850px;
	margin:20px auto;
	font-size:14px;
	font-family:"微软雅黑";
	}
@media screen and (max-width:500px){
	.information{width:300px;}
	}
/*求职意向*/
.job-intension{
	position:relative;
	}

.job-photo img{
	width:100%;
	height:700px;
	}
.job-1{
	
	position:absolute;
	width:100%;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	}
.job-1 h1{
	text-align:center;
	
	font-size:30px;
	color:#2c3e50;
	}
.job-1 hr{
	height: 4px;
    width:100px;
    text-align:center;
    
    background: #E87E04;
    margin: 0 auto 20px;
    border: 0;
    transition: all 0.5s 0.2s;
	}

.job-1 li{
	float:left;
	display:inline-block;
	
	width:25%;
	
	list-style-type:none;
	}
.job-1 li p{
	width:200px;
	
	}
.job-1 li img{
	display:block;
	margin:10px auto;
	width:100px; 
	}
.job-text1{
	color:#E87E04;
	font-size:16px;
	font-family:"SimHei";
	text-align:center;
		
	}
.job-text2{	
	margin:auto;
	width:300px;
	font-family:"微软雅黑";
	text-align:center;
	}
@media screen and (max-width:500px){
.job-1 li{width:50%;}
.job-1 li p{width:120px;}
.job-1 li img{width:50px;margin:20px auto;}
.job-text1{font-size:14px;}
	}
/*作品集*/
figure,figcaption,img{margin:0px;padding:0px;}

.fudo{
	width:100%;
	overflow:hidden;
	}
.project-title{
	margin:100px auto;
	}
.project-title h1{
	text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: #2c3e50;
    padding: 100px 0 0;
    letter-spacing:2px;
	}
.project-title hr{
	height: 4px;
    width:70px;
    text-align:center;
    position: relative;
    background: #E87E04;
    margin: 0 auto 50px;
    border: 0;
    transition: all 0.5s 0.2s;
	}
.project-title p{
	text-align:center;
	margin:10px auto;
	font-family:"微软雅黑";
	font-size:16px;
	}
figure{
	position:relative;
	width:25%;
	overflow:hidden;
	height:300px;
	float:left;		
	text-align:center;		
	}
figure img{
	
	margin:20px;
	opacity:0.8;
	transition:all 1s;
	
	}
figure img,p,h4,span,div{
	transition:all 1s;
	}
figcaption{
	
	color:#000;
	font-family:"微软雅黑";
	}


/*test1*/
.test1{
	background:#FFF;
	}
.test1 figcaption{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);	
	}
.test1 figcaption h4{
	text-align:center;
	transform:translate(0px,50px);
	opacity:0;
	}
.test1:hover figcaption h4{
	transform:translate(0px,0px);
	opacity:1;
	}	
.test1 figcaption p{
	text-align:center;
	transform:translate(0px,50px);
	opacity:0;
	} 
.test1:hover figcaption p{
	transform:translate(0px,0px);
	opacity:1;
	}
.test1 figcaption img{
	width:50px;
	height:50px;
	margin:0px auto;
	display:block;
	transform:translate(0px,50px);
	opacity:0;	
	}
.test1:hover figcaption img{
	transform:translate(0px,0px);
	opacity:1;
	}
.test1 img{
	transform:scale(1,1);
	opacity:0.5;
	}
.test1:hover img{
	transform:scale(1.3,1.3);
	opacity:1;
	}
/*test2*/
.test2{
	background:#FFF;
	}
.test2 figcaption{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);	
	}
.test2 figcaption h4{
	text-align:center;
	transform:translate(0px,50px);
	opacity:0;
	}
.test2:hover figcaption h4{
	transform:translate(0px,0px);
	opacity:1;
	}	
.test2 figcaption p{
	text-align:center;
	transform:translate(0px,50px);
	opacity:0;
	} 
.test2:hover figcaption p{
	transform:translate(0px,0px);
	opacity:1;
	}
.test2 figcaption img{
	width:50px;
	height:50px;
	margin:0px auto;
	display:block;
	transform:translate(0px,50px);
	opacity:0;	
	}
.test2:hover figcaption img{
	transform:translate(0,0);
	opacity:1;
	}
.test2 img{
	transform:scale(1,1);
	opacity:0.5;
	}
.test2:hover img{
	transform:scale(1.3,1.3);
	opacity:1;
	}

/*test3*/
.test3{
	background:#FFF;
	}
.test3 figcaption{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);	
	}
.test3 figcaption h4{
	text-align:center;
	transform:translate(0px,50px);
	opacity:0;
	}
.test3:hover figcaption h4{
	transform:translate(0,0);
	opacity:1;
	}	
.test3 figcaption p{
	text-align:center;
	transform:translate(0px,50px);
	opacity:0;
	} 
.test3:hover figcaption p{
	transform:translate(0,0);
	opacity:1;
	}
.test3 figcaption img{
	width:50px;
	height:50px;
	margin:0px auto;
	display:block;
	transform:translate(0px,50px);
	opacity:0;	
	}
.test3:hover figcaption img{
	transform:translate(0,0);
	opacity:1;
	}
.test3 img{
	transform:scale(1,1);
	opacity:0.5;
	}
.test3:hover img{
	transform:scale(1.3,1.3);
	opacity:1;
	}
/*test4*/
.test4{
	background:#FFF;
	}
.test4 figcaption{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);	
	}
.test4 figcaption h4{
	text-align:center;
	transform:translate(0px,50px);
	opacity:0;
	}
.test4:hover figcaption h4{
	transform:translate(0,0);
	opacity:1;
	}	
.test4 figcaption p{
	text-align:center;
	transform:translate(0px,50px);
	opacity:0;
	} 
.test4:hover figcaption p{
	transform:translate(0,0);
	opacity:1;
	}
.test4 figcaption img{
	width:50px;
	height:50px;
	margin:0px auto;
	display:block;
	transform:translate(0px,50px);
	opacity:0;	
	}
.test4:hover figcaption img{
	transform:translate(0,0);
	opacity:1;
	}
.test4 img{
	transform:scale(1,1);
	opacity:0.5;
	}
.test4:hover img{
	transform:scale(1.3,1.3);
	opacity:1;
	}
@media screen and (max-width:600px){
	figure{width:100%;
	text-align:center;
	}
	figure img{margin:20px auto;}
	.project-title p{width:300px;font-size:14px;}
	}
@media screen and (min-width:601px) and (max-width:1000px){
	figure{width:50%;}
	}
@media screen and (min-width:1001px){
	figure{width:25%;}
	}
/*技术掌握*/
.master-technology{
	position:relative;
	margin-bottom:200px;
	
	}
.tech-1{
	width:100%;
	
	}
.tech-my{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	
	
	width:100%;
	color:#2c3e50;
	}

.tech-my hr{
	height: 4px;
    width:150px;
    text-align: center;
    position: relative;
    background: #E87E04;
    
    border: 0;
    transition: all 0.5s 0.2s;
	}
.tech-my h1{
	
	text-align:center;
	
	
	}

.master-technology img{
	width:100%;
	margin-top:100px;
	}
.tech-my ul{
	list-style-type:none;
	}
.tech-my li{
	width:25%;
	float:left;
	text-align:center;
	margin:auto;
	}
@media screen and (max-width:600px){
	.tech-my{margin-top:50px;}
	.tech-my h1{font-size:20px;}
	.tech-my li{width:50%;margin-bottom:100px;}
	.master-technology img{width:100%; height:700px;}
	.tech-my hr{width:100px;}
	
	}
@media screen and (min-width:601px) and (max-width:1000px){
	.tech-my li{width:50%;}
	}
/*我的经历*/
.work-experience{
	clear:both;
	width:100%;
	height:700px;
	
	}
.mybox1{
	overflow:hidden;	
	}
.work-top h1{
	margin-top:200px;
	text-align:center;	
	}
.work-top hr{
	height: 4px;
    width:100px;
    text-align: center;
   
    background: #E87E04;
    margin-bottom:20px;
    border: 0;
    transition: all 0.5s 0.2s;
	}
.mywork{
	
	list-style-type:none;
	width:100%;
	overflow:hidden;
	}

.mywork li{
	float:left;
	width:200px;
	list-style-type:none;
	width:33.33%;
	
    }
.mywork li p{
	width:250px;
	margin:auto;
	text-align:center;
	overflow:hidden;
	font-size:16px;
	font-family:"微软雅黑";
	}
@media screen and (max-width:600px){
	.mywork li{width:100%;margin-bottom:50px;}
	
	}
/*联系我*/
.contact-way{
	overflow:hidden;
	width:100%;
	height:700px;
	clear:both;
	position:relative;
	}
.call-me{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	}

.call-me h1{
	
	
	font-size:30px;
	text-align:center;
		
	}
.call-me hr{
	height: 4px;
    width:100px;
    text-align: center;   
    background: #E87E04;    
	}	

.call-me p{
	text-align:center;
	font-size:30px;
	font-family:cursive,'Lato', sans-serif;
	}
@media screen and (max-width:600px){
	.contact-way{
	margin-top:200px;	
	}
	.call-me p{
		font-size:20px;
		width:300px;
		}
	}